@charset "UTF-8";
@-ms-viewport {
  min-width: 480px;
  max-width: device-width;
}
@-o-viewport {
  min-width: 480px;
  max-width: device-width;
}
@viewport {
  min-width: 480px;
  max-width: device-width;
}
a {
  color: #6bf;
}
a:hover {
  color: #49e;
}
a:active {
  color: #d83;
}

img {
  max-width: 100%;
}

.full {
  width: 100%;
}

table.sortable thead {
  background-color: #181818;
  color: #666;
  font-weight: bold;
  cursor: default;
}

th.tablesorter-headerAsc:after {
  content: " ▴";
}
th.tablesorter-headerDesc:after {
  content: " ▾";
}

div.tablesorter-header-inner {
  display: inline;
}

pre {
  white-space: pre-wrap;
}

hr {
  display: block;
  height: 0;
  border: 0;
  font-style: italic;
  border-bottom: 1px solid #3b3b3b;
  padding: 0;
}

.dashed {
  border-bottom: 1px dashed #3b3b3b;
}

th {
  vertical-align: middle;
}

.form-area {
  display: inline-block;
  background: #111;
  padding: 5px 10px 10px;
  border-radius: 4px;
  border: 1px solid #3b3b3b;
}

div.info-float {
  float: right;
  padding: 10px;
}

footer {
  color: #808080;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.231;
  background: #111;
  font-family: "Segoe UI", "Lucida Grande", Arial, sans-serif;
  color: #f8f8f8;
  height: 100%;
}

.unselectable {
  cursor: default;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

b {
  font-weight: bold;
}

h2 {
  font-weight: 400;
  font-size: 2em;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 1.4em;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}

hr {
  color: rgba(0, 0, 0, 0.2);
}

#content {
  margin: 52px auto auto;
  width: 90%;
  height: 100%;
  min-height: 25em;
  display: block;
}
#content .title {
  color: #ccc;
}

footer {
  text-align: center;
  height: 40px;
  border-top: 1px solid #3b3b3b;
  background: #181818;
}

html {
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  display: inline;
}

noscript #noscript {
  font-family: Arial, sans-serif;
  font-size: 111%;
  color: white;
  font-weight: bold;
  background: #ae0000;
  text-align: center;
  padding: 5px 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;
}

#announcement {
  font-family: Arial, sans-serif;
  font-size: 111%;
  color: white;
  font-weight: bold;
  background: #ae0000;
  text-align: center;
  max-width: 30%;
  position: fixed;
  border-radius: 4px;
  z-index: 100;
  bottom: -4px;
  right: -4px;
  padding: 5px 6px 6px 5px;
}
#announcement a {
  color: orange;
}

.time {
  color: #ccc;
}

.toggle {
  font-weight: bold;
}
.toggle .fa {
  transition: transform 0.4s;
}
.toggle.open .fa {
  transform: rotate(90deg);
}

#form-errors, .form-errors {
  background: rgba(255, 0, 0, 0.3);
  border: 3px solid red;
  border-radius: 4px;
  padding: 0 1em 0.1em 1em;
  margin: 0.3em 0 0.5em 0;
}

#contest-info {
  font-size: 1.25em;
  border: 5px solid #1ba94c;
  border-left: 5px dotted white;
  border-radius: 0 4px 4px 0;
  background: rgba(0, 0, 0, 0.77);
  z-index: 100000;
  padding: 10px 12px;
  color: white;
  cursor: move;
  position: fixed;
  left: 20px;
  top: 90%;
  display: none;
}
#contest-info a {
  height: 1.4em;
  padding: 0;
  margin: 0;
  color: white;
  display: block;
}

#contest-time-remaining {
  display: inline-block;
}

#page-container {
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  border-right: 1px solid #3b3b3b;
  border-left: 1px solid #3b3b3b;
  background: #222;
  max-width: 100em;
}

#content-body {
  padding-bottom: 4em;
}

.title-line-action {
  float: right;
  margin-top: 1.2em;
}

math {
  font-size: 1.155em;
}

.MathJax:focus {
  outline: none;
}

@media (max-width: 1498px) {
  #page-container {
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media (max-width: 760px) {
  #content {
    width: auto;
    padding: 0 5px;
  }
}

/*# sourceMappingURL=base.css.map */
