#contest-calendar {
  border-collapse: collapse;
  width: 100%;
}
#contest-calendar th {
  border: 1px solid #3b3b3b;
  background: #111;
}
#contest-calendar td {
  height: 110px;
  width: 170px;
  vertical-align: top;
  border: 1px solid #3b3b3b;
  transition-duration: 0.2s;
}
#contest-calendar td .num {
  text-align: right;
  font-weight: bold;
  display: block;
  border-bottom: 1px dashed #3b3b3b;
  padding-right: 0.2em;
  margin-bottom: 0.4em;
}
#contest-calendar td ul {
  font-size: 0.75em;
  padding: 0;
  margin: 0;
}
#contest-calendar td ul li {
  margin: 0 0 0.2em 17px;
}
#contest-calendar td ul li i.fa {
  color: #d83;
}
#contest-calendar td ul li a {
  color: #ccc;
}
#contest-calendar td ul li a:hover {
  text-decoration: underline;
}
#contest-calendar td:hover {
  background: rgba(68, 153, 238, 0.2);
}
#contest-calendar .noday {
  background: #181818;
}
#contest-calendar .today {
  background: rgba(221, 136, 51, 0.2);
}

#banner {
  border-bottom: 1px solid #3b3b3b;
  padding-bottom: 1em;
  color: #ccc;
  font-size: 15px;
}
#banner a.date {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 1.3;
  font-size: 2.3em;
  padding-bottom: 0.15em;
  color: #06d;
}
#banner a.date:hover {
  color: #49e;
}
#banner a.date:active {
  color: #d83;
}
#banner #time {
  text-align: center;
  display: block;
}
#banner div#details ul {
  margin-bottom: 0;
  list-style: none;
}
#banner div#details ul p {
  margin: 0;
}

.top-pagination-bar {
  justify-content: space-between;
}

.contest-list td {
  vertical-align: middle !important;
}
.contest-list td:nth-child(2) {
  min-width: 4em;
}
.contest-list td:nth-child(3) {
  min-width: 6em;
}
.contest-list tbody tr {
  height: 4em;
}
.contest-list .time-left {
  text-align: left;
  color: #808080;
  padding-top: 0.5em;
}
.contest-list .contest-tags {
  padding-left: 0.75em;
  vertical-align: top;
}
.contest-list .participate-button {
  display: inline-block;
  width: 90px;
}
.contest-list .contest-block {
  text-align: left;
  padding: 0.5em 0.5em 0.5em 1em;
}
.contest-list a.contest-sort-link {
  color: #0f0f0f;
}

.contest-tag {
  box-shadow: inset 0 -0.1em 0 rgba(0, 0, 0, 0.12);
  padding: 0.15em 0.3em;
  border-radius: 0.15em;
  font-weight: 600;
  margin-right: 0.45em;
  position: relative;
}

.contest-list-title {
  font-size: 18px;
  font-weight: 600;
}

form.contest-join-pseudotab {
  display: inline;
  padding: 6px 8px !important;
  line-height: 1.7em;
  margin-left: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
form.contest-join-pseudotab input {
  display: inline;
  border: none;
  padding: 0;
  background: none;
  font-weight: 600;
}

.contest-participation-operation {
  float: right;
  display: flex;
  padding: 0 5px;
}
.contest-participation-operation .fa {
  color: #ccc;
}
.contest-participation-operation a + a {
  padding-left: 1px;
}

#ranking-table {
  font-size: 14px;
  /* Make problem table headers green on hover */
}
#ranking-table .user-name {
  min-width: 20em;
  position: relative;
}
#ranking-table .userinfo a, #ranking-table .user-name a, #ranking-table .user-name form {
  display: inline-block !important;
}
#ranking-table .rating-column {
  min-width: 3em;
}
#ranking-table td {
  height: 2.5em;
}
#ranking-table td:not(.user-name, .personal-info) a:hover {
  text-decoration: underline;
}
#ranking-table a {
  display: block;
}
#ranking-table th a:hover {
  color: #0F0;
}
#ranking-table th a, #ranking-table th a:link, #ranking-table th a:visited {
  color: #0f0f0f;
}
#ranking-table .rank {
  min-width: 2.4em;
}
#ranking-table .points {
  min-width: 2.4em;
}
#ranking-table .disqualified {
  background-color: #622 !important;
}
#ranking-table .point-denominator {
  border-top: 1px solid #808080;
  font-size: 0.7em;
}
#ranking-table .start-time {
  display: none;
}
#ranking-table .personal-info {
  display: none;
}
#ranking-table .virtual-participation {
  color: grey;
  float: right;
}
#ranking-table .user-points, #ranking-table .user-points a {
  color: #f8f8f8;
}

#org-dropdown-check-list {
  display: inline-block;
}

#org-check-list-wrapper {
  display: none;
  background: #0f0f0f;
  border: 1px solid gray;
  padding: 10px;
  right: auto;
  position: absolute;
  z-index: 1;
}
#org-check-list-wrapper button {
  margin-bottom: 5px;
  margin-left: 5px;
}
#org-check-list-wrapper #org-check-list {
  border-bottom: 1px solid gray;
  color: #f8f8f8;
  text-align: left;
  font-weight: normal;
}
#org-check-list-wrapper #org-check-list li {
  list-style: none;
}
#org-check-list-wrapper .select2-selection__rendered {
  width: 260px !important;
}

/*# sourceMappingURL=contest.css.map */
