.info-float {
  position: sticky;
  top: 60px;
  width: 20%;
}

#submissions-table {
  background: rgba(248, 248, 248, 0.01);
}

.submissions-status-table {
  border-spacing: 0;
}

.submission-row {
  display: flex;
  border-top: #3b3b3b 1px solid;
  border-left: #3b3b3b 1px solid;
  border-right: #3b3b3b 1px solid;
  transition: background-color linear 0.2s;
}
.submission-row:hover {
  background: #181818;
}
.submission-row:not(:empty) ~ .submission-row {
  border-top: none;
}
.submission-row > div {
  padding: 7px 5px;
  vertical-align: middle;
  border-bottom: #3b3b3b 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.submission-row .sub-result {
  min-width: 80px;
  width: 80px;
  text-align: center;
  border-bottom-color: #0f0f0f;
  border-right: #3b3b3b 1px solid;
}
.submission-row .sub-result .state {
  font-size: 0.7em;
  font-weight: bold;
  padding-top: 0.5em;
}
.submission-row .sub-result .score {
  color: #000;
}
.submission-row .sub-result .score .grading-spinner {
  color: #f8f8f8;
}
.submission-row .sub-main {
  display: flex;
  flex: 1;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.submission-row .sub-main .sub-info {
  flex: 1;
  word-break: break-word;
}
.submission-row .sub-main .sub-info .name {
  font-weight: 700;
  font-size: 1.2em;
}
.submission-row .sub-main .sub-testcase {
  color: #808080;
  white-space: nowrap;
  padding-right: 5px;
}
.submission-row .sub-main .sub-prop a {
  white-space: nowrap;
}
.submission-row .sub-usage {
  min-width: 70px;
  width: 70px;
  white-space: nowrap;
  text-align: center;
  border-left: #3b3b3b 1px solid;
}
.submission-row .sub-usage .time {
  font-weight: bold;
}

.sub-prop .fa {
  display: none;
}

.sub-prop .grey-label {
  color: #808080;
  font-style: italic;
}

.sub-prop .grey-icon {
  color: #808080;
}

label[for=language], label[for=status], label[for=organization] {
  padding-bottom: 0.25em;
  display: block;
}

#language {
  margin-top: 0.5em;
  width: 100%;
}

#status {
  width: 100%;
}

#statistics-table tr:not(:first-child) td {
  border-top: 1px solid white !important;
}

#statistics-table tr:not(:last-child) td:not(:last-child) {
  border-right: 1px solid white;
}

#statistics-table {
  padding-top: 1.5em;
}

#content-right.submission {
  max-width: 25%;
  padding-top: 0;
}

@media (max-width: 700px) {
  .sub-main {
    padding-left: 10px !important;
    flex-direction: column !important;
    place-items: flex-start !important;
  }
  .sub-prop .label {
    display: none;
  }
  .sub-prop .fa {
    display: inline-block;
  }
  #content-right.submission {
    max-width: 100%;
  }
}
.submission-contest {
  color: #ccc;
}

.source-ln {
  color: #808080;
  border-right: 1px solid #808080;
  padding-right: 5px;
  text-align: right;
}
.source-ln a {
  color: #808080;
  display: block;
}
.source-ln a:hover {
  text-decoration: underline;
}
.source-ln a::before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}

.source-code pre, .source-ln pre {
  margin: 0;
  padding: 0;
  white-space: pre;
}

.source-code {
  padding-left: 15px;
}

.source-wrap {
  overflow-x: auto;
}

.statistics-table .status {
  font-weight: bold;
  text-align: left;
}
.statistics-table .count {
  color: black;
}

#test-cases .toggle .fa {
  margin-left: -1.28571em;
}
#test-cases .batch-cases {
  margin: 0;
  padding-left: 1em;
  padding-bottom: 3px;
  padding-top: 3px;
  display: inline-block;
}
#test-cases .batch-cases .case-row td b {
  font-weight: 500;
}
#test-cases .case-row td:nth-child(3) {
  padding-right: 0;
  text-align: right;
}
#test-cases .case-row td:nth-child(3) span {
  float: right;
}
#test-cases .case-row td:nth-child(4) {
  text-align: right;
}
#test-cases .case-info {
  margin: 0;
  padding-left: 1em;
  padding-bottom: 3px;
  padding-top: 3px;
  border: 1px solid #2980b9;
  border-left-width: 0.5em;
  border-radius: 4px;
  color: #ccc;
}
#test-cases .case-output {
  margin: 0;
  margin-right: 1em;
  word-break: break-all;
}
#test-cases table td {
  margin: 0;
  padding: 0 5px 0 0;
}
#test-cases .toggle {
  font-weight: normal;
}
#test-cases .case-feedback {
  vertical-align: top;
}
#test-cases td.case-output + td.case-ext-feedback {
  width: 50%;
}
#test-cases .case-output {
  word-wrap: anywhere;
}

.case-AC {
  color: green;
  font-weight: bold;
}

.case-_AC {
  color: #BBCC00;
  font-weight: bold;
}

.case-WA {
  color: red;
  font-weight: bold;
}

.case-TLE, .case-SC {
  color: gray;
  font-weight: bold;
}

.case-MLE, .case-OLE, .case-RTE, .case-IR {
  color: orange;
  font-weight: bold;
}

.case-bad {
  text-decoration: underline;
}

.half-hr {
  float: left;
  width: 30%;
}

.source-wrap .line {
  position: relative;
}
.source-wrap .highlighter {
  position: absolute;
  width: 9999px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.source-wrap a:active .line .highlighter {
  background: rgba(255, 212, 0, 0.48);
}

.submission-info {
  text-align: right;
  float: right;
}
.submission-info .submission-date {
  color: #808080;
}

/*# sourceMappingURL=submission.css.map */
