.social i {
  display: inline;
  font-size: 1.9em;
}

.facebook-this, .tweet-this {
  display: inline;
}

.tweet-this i {
  color: #55ACEE;
}

.facebook-this i {
  color: #133783;
}

.social {
  font-size: 1.3em;
  float: right;
}

.button, button, input[type=submit] {
  color: white !important;
  text-decoration: none !important;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.4;
  background: rgb(51, 122, 183) none repeat scroll 0 0%/auto padding-box border-box;
  background: -webkit-linear-gradient(top, #337ab7 0, #265a88 100%) repeat-x;
  background: linear-gradient(to bottom, #337ab7 0, #265a88 100%) repeat-x;
  border-radius: 4px;
  padding: 6px 12px;
  display: block;
  border: 0;
  text-align: center;
  font-size: 15px;
}
.button:hover, button:hover, input[type=submit]:hover {
  background: #265a88;
}
.button:active, button:active, input[type=submit]:active {
  border-color: #245580;
  background: #265a88;
}
.button.full, button.full, input[type=submit].full {
  padding: 6px 0;
}
.button.disabled, button.disabled, input[type=submit].disabled {
  background: linear-gradient(to bottom, darkgray 0, gray 100%) repeat-x !important;
  border-color: grey !important;
  cursor: not-allowed;
}

.inline-button {
  display: inline;
  vertical-align: top;
  padding: 3px 6px;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=url] {
  padding: 4px 8px;
  color: #ccc;
  background: #0f0f0f none;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(248, 248, 248, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  box-sizing: border-box;
  font-size: 15px;
}
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=number]:hover, input[type=url]:hover {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(248, 248, 248, 0.075), 0 0 4px rgba(82, 168, 236, 0.6);
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=url]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(248, 248, 248, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}
input[type=number] {
  padding: 2px 0 2px 5px;
}
input[type=checkbox] {
  appearance: none;
  vertical-align: middle;
  border: 1px solid #808080;
  background: #0f0f0f;
  border-radius: 2px;
  width: 0.95em;
  height: 0.95em;
  cursor: pointer;
}
input[type=checkbox]:checked {
  appearance: auto;
  accent-color: #1ba94c;
}

textarea {
  padding: 4px 8px;
  color: #ccc;
  background: #0f0f0f none;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(248, 248, 248, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  box-sizing: border-box;
}

textarea:hover {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(248, 248, 248, 0.075), 0 0 4px rgba(82, 168, 236, 0.6);
}

textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(248, 248, 248, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}

.btn-clipboard {
  top: 0;
  right: 0;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #808080;
  cursor: pointer;
  background-color: #222;
  border: 1px solid #3b3b3b;
  border-radius: 0 4px;
  position: absolute;
  padding: 5px 8px;
}

.copy-clipboard {
  position: relative;
  margin-top: 1.5em;
}

.ul_tab_a_active, .tabs > ul > li.active > a:focus, .tabs > ul > li.active > span:focus, .tabs > ul > li.active > a:hover, .tabs > ul > li.active > span:hover, .tabs > ul > li.active > a, .tabs > ul > li.active > span {
  color: #f8f8f8;
  background: #222;
  cursor: default;
  border: 1px solid #3b3b3b;
  border-bottom-color: #222;
  border-image: none;
}

.tabs {
  border-bottom: 1px solid #3b3b3b;
  margin: 0 0 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tabs .tab .tab-icon {
  padding-right: 0.3em;
  color: #808080;
}
.tabs .tab .tab-icon.fa-plus {
  color: green !important;
}
.tabs .tab a, .tabs .tab span {
  border-top-width: 3px !important;
}
.tabs .tab.active a, .tabs .tab.active span {
  border-top-color: #1ba94c !important;
}
.tabs .tab.active .tab-icon {
  color: #f8f8f8;
}
.tabs h2 {
  color: #ccc;
}
.tabs > ul {
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
  list-style: outside none none;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.tabs > ul > li {
  position: relative;
  display: block;
}
.tabs > ul > li > a, .tabs > ul > li > span {
  margin-right: 2px;
  line-height: 1.42857;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #aaa;
  text-decoration: none;
  white-space: nowrap;
}

ul.pagination a:hover {
  background: rgba(248, 248, 248, 0.55);
}

ul.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}
ul.pagination > li {
  display: inline;
}
ul.pagination > li:first-child > a, ul.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
ul.pagination > li:last-child > a, ul.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
ul.pagination > li > a, ul.pagination > li > span {
  position: relative;
  float: left;
  padding: 4px 12px;
  line-height: 1.42857;
  text-decoration: none;
  color: #0f0f0f;
  background-color: #ccc;
  border: 1px solid #808080;
  margin-left: -1px;
}
ul.pagination > .disabled-page > a, ul.pagination > .disabled-page > span {
  color: #808080;
}
ul.pagination > .active-page > a, ul.pagination > .active-page > span {
  z-index: 2;
  color: #FFF;
  background-color: #1ba94c;
  border-color: transparent;
  cursor: default;
}

.top-pagination-bar {
  margin: 11px 0 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-pagination-bar {
  margin-top: 10px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #7df;
  background-color: #023;
  border-color: #068;
}

.alert-warning {
  color: #fd6;
  background-color: #320;
  border-color: #960;
}

.alert-danger {
  color: #f99;
  background-color: #311;
  border-color: #822;
}

.alert-dismissable, .alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close, .alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #f8f8f8;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

a.close {
  text-decoration: none !important;
  font-size: 18px !important;
  line-height: 1;
}
a.close:hover {
  color: #f8f8f8;
}

.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.badge {
  min-width: 10px;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #e84848;
  border-radius: 10px;
  box-sizing: border-box;
}

.form-submit-group {
  border-top: 1px solid rgba(248, 248, 248, 0.1);
  margin-top: 0.8em;
  padding-top: 0.5em;
  text-align: right;
}

.sidebox h3 {
  margin: 0 -5px;
  background: #ccc;
  border-radius: 4px 4px 0 0;
  color: #0f0f0f;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  font-size: 1.3em;
}

.sidebox h3 .fa {
  color: #0f0f0f;
  float: right;
  margin: 0.2em 0.4em 0 0;
}

.sidebox-content {
  border: 1px solid #3b3b3b;
  border-top: none;
  margin: 0 -5px;
  padding: 1px 0.5em 3px;
}
.sidebox-content.sidebox-table {
  border: none;
  padding: 0;
}
.sidebox-content.sidebox-table .table {
  margin: 0 !important;
}

.sidebox {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 5px !important;
  padding-bottom: 1.5em !important;
}

.ws-closed {
  position: sticky;
  top: 42px;
  background: #ae0000;
  border-radius: 5px 5px 0 0;
  display: none;
}

.ws-closed a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: white;
  font-weight: 600;
}

.semibold {
  font-weight: 600;
}

.messages {
  list-style-type: none;
  padding: 0;
}
.messages li {
  padding: 1em 1.5em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 5px;
}
.messages li.debug {
  color: #ccc;
  background-color: #181818;
  border-color: #3b3b3b;
}
.messages li.info {
  color: #7df;
  background-color: #023;
  border-color: #068;
}
.messages li.success {
  color: #6f8;
  background-color: #031;
  border-color: #172;
}
.messages li.warning {
  color: #fd6;
  background-color: #320;
  border-color: #960;
}
.messages li.error {
  color: #f99;
  background-color: #311;
  border-color: #822;
}

details {
  border: 1px solid #3b3b3b;
  background: #111;
  padding: 5px 10px;
  border-radius: 4px;
}

/*# sourceMappingURL=widgets.css.map */
